.loader {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: #000000
                url('../images/ajax-loader.gif') 
                50% 50% 
                no-repeat;
    opacity: 0.5;
}

body.loading {
    overflow: hidden;   
}

body.loading .loader {
    display: block;
}
